body{
  background: var(--background-color);
}
.container{
  /* width: 90%;  */
  display: flex;
  padding: 1% 3%;
  flex-direction: column;
  margin: 0 auto; 
}


.high-contrast {
  background-color: black;
  color: white;
}

.gray-scale {
  filter: grayscale(100%);
}

.underline-text {
  text-decoration: underline;
}
