# Ignorar dependências de Node.js para ambas as pastas
/client/node_modules
/server/node_modules

# Ignorar arquivos de build do React
/client/build

# Ignorar arquivos de configuração locais (exemplo)
/client/.env
/server/.env

# Ignorar logs e arquivos temporários
**/*.log
.DS_Store
