/* Contêiner principal da tabela */
.data-table {
  width: 100%;
  margin: 0 auto;
  overflow-x: auto;
}

/* Estilos da tabela */
.data-table .rdt_Table {
  border: 1px solid #eee; 
  border-radius: 5px 5px 0 0; 
  overflow: hidden;

}

.data-table .rdt_TableHead {
  background-color: #f0f0f0; /* Destaca o cabeçalho com um fundo claro */
  font-weight: bold;
  text-transform: uppercase;
  
}

.data-table .rdt_TableCol {
  height: 30px;
  background-color: var(--primary-color);
  color: #fff;
}

.data-table .rdt_TableRow {
  padding: 6px 0px; 
  border-bottom: 1px solid #ddd;
}

.data-table .rdt_TableRow:hover {
  background-color: #f9f9f9; 
}

.data-table .rdt_TableCol--sort {
  cursor: pointer;
  color: var(--titulo-color); 
}

.data-table .rdt_TableCol--sort:after {
  content: ' ▼'; 
  font-size: 0.7rem;
  color: #999;
}

.data-table .rdt_TableHeadRow {
  border-bottom: 1px solid #ccc; /* Linha de destaque no cabeçalho */
}

.data-table .rdt_TableRow:last-child {
  border-bottom: none; /* Remove a borda da última linha */
}

.data-table .rdt_Pagination {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  background-color: #f7f7f7; /* Fundo claro para a paginação */
  border-top: 1px solid #ddd; /* Borda superior na paginação */
}

.data-table .rdt_Pagination button {
  border: none;
  background-color: #17c653; 
  color: #fff;
  padding: 5px 10px;
  margin: 0 2px;
  border-radius: 3px;
  cursor: pointer;
}

.data-table .rdt_Pagination button:hover {
  background-color: #14a547; 
}

.data-table .rdt_Pagination button:disabled {
  background-color: #ccc; 
  cursor: not-allowed;
}

.iGxMlw{
  font-size: 0.75rem!important;
  font-weight: 400!important;
  color: var(--titulo-color)!important;
  background-color: #FFFFFF;
  min-height: 10px!important;
}
.hudJpJ {
  min-height: 10px!important; 
  
}