.print-button {  
  background-color: #fff;
  color: var(--primary-color); 
  border: 1px solid var(--primary-color); 
  padding: 5px 10px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-flex; 
  align-items: center; 
  font-size: var(--font-size-small); 
  font-weight: 400; 
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
  cursor: pointer;  
}

.print-button:hover {
  background-color: var(--primary-color); 
  color: #fff;
}

.print-button:active {
  background-color: var(--primary-color); 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
}

.print-button svg {
  margin-right: 8px; 
  font-size: var(--font-size-large)
}

.print-button:focus {
  outline: none; 
}
