
.container {
  width: 90%;
  display: flex;
  padding: 20px 0;
  flex-direction: column;
  /* align-items: center;  */
  margin: 0 auto; 

}
.breadcrumb {
  width: 100%;
  margin-bottom: 20px; 
  text-align: left; 
  font-size: 0.7rem; 
}

.breadcrumb a {
  color: #1c61e7;
  text-decoration: none; 
}

.breadcrumb a:hover {
  text-decoration: underline; 
}

.container h2{
  font-size: 22px;
}
.container a{
  font-size: 11px;
  font-weight: 400;
  margin: 20px 0;
  color: #1c61e7;
}

.container-filter{
  background: #fcfcfc;
  height: 200px;
  width: 100%;
  border: 1px solid #d0d0d0;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

}