.navbar {
  background-color: var(--primary-color);
  padding: 0 3%;
  margin: 0;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  flex-direction: row;
}

.menu-list li {
  color: white!important;
  text-align: center;
  cursor: pointer;
  /* flex: 1; */
  padding: 10px;
  text-decoration: none;
  
  span{
    font-size: var(--font-size-base);
    color: white;
    text-decoration: none;
  }
  
}

.navbar ul.menu-list li a {
  text-decoration: none; 
  color: white;
}

.menu-list li.active,
.menu-list li:hover {
  background-color: var(--secondary-color);
}

.menu-list li.active span {
  color: white; 
  text-decoration: none;
}

.menu-list li.active .menu-icon {
  color: white; 
}
.submenu-grid .column a.active {
  color: var(--secondary-color);

}

.submenu-grid .column p a:hover {
  color: var(--secondary-color);
  transition: color 0.3s ease;
}

.menu-list li:hover {
  background-color: var(--secondary-color);
}

.close-icon { 
  display: none; /* Não exibir o botão X no desktop */
}

/* Estilos específicos para mobile */
@media (max-width: 768px) {
  .navbar {
    background-color: var(--primary-color);
    padding: 0 3%;
    margin: 0;
    display: none; /* Oculto por padrão no mobile */
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 90%; /* O menu ocupará 90% da tela */
    z-index: 1000;
    box-shadow: -2px 0px 8px rgba(0, 0, 0, 0.5);
  }

  .navbar.mobile-open {
    display: block; /* Mostra o menu ao abrir no mobile */
  }

  .menu-list {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .menu-list li {
    padding: 20px;
    border-bottom: 1px solid var(--secondary-color);
    font-size: var(--font-size-large);
    display: flex; /* Alinha o ícone e o texto na mesma linha */
    align-items: center; /* Centraliza verticalmente */
    justify-content: flex-start; /* Alinha à esquerda */
    gap: 10px; /* Espaço entre o ícone e o texto */
  }

  /* Botão de fechar (X) no mobile */
  .close-icon {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    font-size: var(--font-size-xl);
    color: white;
    cursor: pointer;
  }
}